/* #game-container{
    display: flex;
    flex-direction: column;
    
}

.column{
    border: 1px solid springgreen ;
    width: 40px;
    height: 40px;
}
.row{
    border: 1px solid black;
    display: flex;
    width: 400px;
} */

@keyframes background-pan {
    from {
        background-position: left;
    }
    to {
        background-position: right;
    }
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    /* background-color: #383838; */
    animation: background-pan 60s linear infinite;
    /* background: linear-gradient(
        to right,
        rgb(123, 1, 180),
        rgb(204, 0, 143),
        rgb(123, 1, 180)
    ); */
    background: url(images/background.svg);
    /* background-position: left bottom right bottom; */
    /* background-repeat: no-repeat; */
    background-size: 300%;
    
    /* overflow: hidden; */
}
.row {
    width: 400px;
    height: 40px;
    /* animation: background-pan 10s linear infinite;
    background: linear-gradient(
        to right,
        rgb(63, 0, 92),
        rgb(116, 0, 81),
        rgb(63, 0, 92)
    );
    background-size: 200%;
    overflow: hidden; */
    /* background-color: black; */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /* display: flex; */
    /* flex-direction: row; */
    margin: auto;
}
.column {
    
    margin: 1px;
    border-radius: 6px;
    content: "";
}
.column, #hold-text, #next-text, #score-text, button, #hold-piece, .next-piece {
    background-color: #0e0e0e;
}
#game {
    margin: auto;
    padding: 0 2px;
    background-color: rgba(0, 0, 0, .4);
    width: 606px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#hold-text, #next-text{
    width: 100px;
}
#score-text {
    width: 400px;
    margin-right: 1px;
}

#hold-piece, .next-piece{
    /* background-color: #1F1F1F; */
    height: 100px;
    width: 100px;
    color: white;
}
#hold-text, #next-text, #score-text {
    height: 50px;
    text-align: center;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    font-weight: 700;
    /* background-color: #1F1F1F; */
}

#hold-piece, .next-piece, #hold-text, #next-text, #score-text{
    /* border: 1px solid transparent; */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 2px;
    border-radius: 6px;
    padding: 2px;
}

#hold-text, #next-text {
    padding: 12px;
}
#score-text {
    margin-bottom: 1px;
    margin-left: 1px;
}
#hold, #board{
    margin-right: 1px;
    margin-left: 1px;
}
#board {
    width: fit-content;
    margin-left: 0;
    text-align: center;
}
p {
    margin: 0;
    font-size: 15px;
}
button {
    /* background-color: #1F1F1F; */
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    width: 125px;
    height: 40px;
    border: none;
    margin: 5px;
    transition: .5s;
    border-radius: 6px;
}
button:hover {
    color: rgb(190, 190, 190);
}
button:active {
    color: #3f3f3f;
}
/* .next-piece, .hold-piece {
    display: flex;
    justify-content: center;
    align-items: center;
} */
#holdP, .nextP {
    width: 90%;
}
#block-help, #block-leaderboard {
    display: none;
    position: absolute;
    width: 450px;
    height: 80%;
    background-color: rgba(0, 0, 0, .4);
    top: 10%;
    color: white;
    font-family: 'Rajdhani', sans-serif;
}

#block-help {
    left: 100px;
    
    /* text-align: center; */
}
#help {
    height: 100%;
    /* display: flex; */
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    /* font-weight: 500; */
}
/* #help > div{
    display: flex;
    justify-content: center;
    align-items: center;
} */

#block-leaderboard {
    right: 100px;
}

.keycaps {
    height: 60px;
    margin: 5px 10px;
}
.titleDiv {
    position: absolute;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}
.blockTitle {
    /* margin: 20px; */
    font-size: 40px;
    font-weight: 700;
}
.help-titles {
    margin-top: 7px;
    font-size: 20px;
    font-weight: 700;
}
#lbDiv, .next-piece, #hold-piece,  #help > div, #help{
    display: flex;
    justify-content: center;
    align-items: center;
}
#leaderboard {
    /* background-color: rgba(0, 0, 255, 0.3); */
    width: 90%;
    height: 80%;
    position: absolute;
    bottom: 40px;
}