* {
    color: white;
    font-family: 'Rajdhani', sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

@keyframes background-pan {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    
    /* background-color: #383838; */
    /* animation: background-pan 10s ease-in-out infinite; */
    /* background: linear-gradient(
        to right,
        rgb(123, 1, 180),
        rgb(204, 0, 143),
        rgb(123, 1, 180)
    ); */
    
    /* background-position: left bottom right bottom; */
    /* background-repeat: no-repeat; */
    /* background-size: 300%; */
    
    overflow: hidden;
}
body {
    background-image: url(images/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
body::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: background-pan 10s cubic-bezier(.50,.10,.50,.90) infinite;
    background: inherit;
}

.row {
    width: 400px;
    height: 40px;
    /* animation: background-pan 10s linear infinite;
    background: linear-gradient(
        to right,
        rgb(63, 0, 92),
        rgb(116, 0, 81),
        rgb(63, 0, 92)
    );
    background-size: 200%;
    overflow: hidden; */
    /* background-color: black; */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /* display: flex; */
    /* flex-direction: row; */
    /* margin: auto; */
}
.column {
    
    margin: 1px;
    border-radius: 6px;
    content: "";
}
.column, #hold-text, #next-text, #roundInfo, button, #hold-piece, .next-piece, #PlayerName {
    background-color: #0e0e0e;
}
#game {
    margin: auto;
    padding: 0 2px;
    background-color: rgba(0, 0, 0, .4);
    position: relative;
    /* width: 606px; */
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#hold-text, #next-text{
    width: 100px;
    height: 50px;
}
#roundInfo {
    width: 398px;
    height: 50px;
    margin-right: 1px;
}

#hold-piece, .next-piece{
    /* background-color: #1F1F1F; */
    height: 100px;
    width: 100px;
    color: white;
}
#hold-text, #next-text, #score-text, #level-text, #time-text {
    /* height: 50px; */
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    /* background-color: #1F1F1F; */
}

#hold-piece, .next-piece, #hold-text, #next-text, #roundInfo{
    /* border: 1px solid transparent; */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 2px;
    border-radius: 6px;
    padding: 2px;
}

/* #hold-text, #next-text {
    padding: 12px;
} */
#roundInfo {
    margin-bottom: 1px;
    margin-left: 1px;
    /* flex-direction: column; */
}
#hold, #board{
    margin-right: 1px;
    margin-left: 1px;
}
#board {
    width: fit-content;
    margin-left: 0;
    text-align: center;
}
p {
    margin: 0;
    font-size: 15px;
}
button {
    /* background-color: #1F1F1F; */
    font-size: 20px;
    width: 125px;
    height: 40px;
    border: none;
    margin: 5px;
    transition: .5s;
    border-radius: 6px;
}
button:hover {
    color: rgb(190, 190, 190);
}
button:active {
    color: #3f3f3f;
}
/* .next-piece, .hold-piece {
    display: flex;
    justify-content: center;
    align-items: center;
} */
#holdP, .nextP {
    width: 90%;
}
#block-help, #block-leaderboard {
    /* display: none; */
    position: absolute;
    width: 24%;
    height: 80%;
    background-color: rgba(0, 0, 0, .4);
    top: 10%;
}

#block-help {
    left: 5%;
    
    /* text-align: center; */
}
#help {
    height: 100%;
    /* display: flex; */
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    /* font-weight: 500; */
}
/* #help > div{
    display: flex;
    justify-content: center;
    align-items: center;
} */

#block-leaderboard {
    right: 5%;
}

.keycaps {
    height: 60px;
    margin: 5px 10px;
}
.titleDiv {
    position: absolute;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}
.blockTitle {
    /* margin: 20px; */
    font-size: 40px;
    /* font-size: 250%; */
    /* font-size: 2.5em; */
    font-weight: 700;
}
.help-titles {
    margin-top: 7px;
    font-size: 20px;
    font-weight: 700;
}
#lbDiv, .next-piece, #hold-piece,  #help > div, #help, #saveScore, #startDiv, #hold-text, #next-text, .finalDivs {
    display: flex;
    justify-content: center;
    align-items: center;
}
#leaderboard {
    /* background-color: rgba(0, 0, 255, 0.3); */
    width: 90%;
    height: 80%;
    position: absolute;
    bottom: 40px;
    /* overflow-y: scroll; */               /*to dodac pozniej*/
}

#endScreen {
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 35%;
    top: 50%;
    left: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#end, #launch {
    width: 100%;
    height: 100%;
}

#saveScore {
    flex-direction: column;
    height: 100%;
}
/* #finalScoreNumber, #finalScoreText, #playerName {
    margin: 10px;
} */
#finalScoreNumber, #finalLevelNumber, #finalTimeNumber {
    font-size: 32px;
    margin-top: 0px;
    font-weight: 700;
    margin-bottom: 10px;
}
#PlayerName {
    padding: 3px 10px;
    height: 40px;
    width: 350px;
    font-size: 25px;
    border: none;
    /* outline: white; */
    border-radius: 6px;
}
/* #playerName:focus {
    outline: none;
    outline: black;
} */
#PlayerName:focus {
    outline: none !important;
    box-shadow: 0 0 7px #FFF;
    
}
#startGame {
    position: absolute;
    bottom: 15px;
    font-size: 25px;
    transition: 0.5s;
    padding: 5px 20px;
    font-weight: 700;
    
}
#startGame:hover {
    transition: 0.5s;
    color: rgb(190, 190, 190);
    background-color: #0e0e0e;
}
#startGame:active {
    color: #3f3f3f;
}
.finalTexts, .authors {
    font-size: 20px;
}
/* #end, #launch {
    display: inherit;
} */
#madeBy {
    font-size: 30px;
}
#end {
    display: none;
}
#gameResults {
    width: 100%;
    text-align: center;
}
.finalDivs {
    flex-direction: column;
}

#roundInfo, #gameResults{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;

    /* justify-content: center; */
}